/* Estilos para o cabeçalho */
header {
    background-color: #16004d; /* Cor de fundo do cabeçalho */
    padding: 10px 0; /* Espaçamento interno reduzido */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
    position: fixed; /* Fixa o cabeçalho na parte superior da página */
    width: 100%; /* Define a largura como 100% da largura da janela do navegador */
    top: 0; /* Alinha o cabeçalho no topo da janela */
    left: 0; /* Alinha o cabeçalho à esquerda da janela */
}

/* Estilos para a logo */
.logo img {
    width: 100px; /* Tamanho da logo*/
    height: auto;
    vertical-align: middle;
}

/* Estilos para a navegação principal */
nav {
    text-align: center; /* Alinhamento do texto */
}

nav ul {
    list-style: none; /* Remover marcadores de lista */
    margin: 0;
    padding: 0;
    display: inline-block;
}

nav ul li {
    display: inline-block; /* Dispor os itens em linha */
    margin: 0 10px; /* Espaçamento entre os itens */
}

nav ul li a {
    color: #007bff; /* Cor do texto */
    text-decoration: none; /* Remover sublinhado */
    font-size: 16px; /* Tamanho da fonte */
}

nav ul li a:hover {
    text-decoration: underline; /* Sublinhar ao passar o mouse */
}

/* Estilos para a barra de pesquisa */
.search-container {
    position: absolute;
    top: 50%; /* Alinhar ao centro verticalmente */
    right: 20px; /* Distância do lado direito */
    transform: translateY(-50%); /* Correção para centralizar */
}

.search-container input[type="text"] {
    padding: 8px 10px; /* Espaçamento interno */
    border: 1px solid #ccc; /* Borda */
    border-radius: 5px; /* Bordas arredondadas */
    font-size: 14px; /* Tamanho da fonte */
    width: 400px; /* Largura do campo de entrada */
}

.search-container button {
    padding: 8px 15px; /* Espaçamento interno */
    background-color: #007bff; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    border: none; /* Sem borda */
    border-radius: 5px; /* Bordas arredondadas */
    font-size: 14px; /* Tamanho da fonte */
    cursor: pointer; /* Cursor de apontar */
}

/* Estilos para o contêiner principal */
.container {
    max-width: 800px; /* Define a largura máxima do contêiner */
    margin: 20px auto; /* Centraliza o contêiner horizontalmente */
    padding: 0 10px; /* Adiciona espaçamento interno ao contêiner */
    display: inline-block; /* Alinha o contêiner à esquerda */
    width: 100%; /* Garante que o contêiner ocupe toda a largura disponível */
}

/* Estilos para os produtos */
.product {
    border: hidden; /* Remove a borda dos produtos */
    padding: 10px; /* Adiciona espaçamento interno aos produtos */
    margin-bottom: 20px; /* Adiciona espaçamento inferior entre os produtos */
    overflow: hidden; /* Limpa o comportamento float */
}

.product img {
    max-width: 200px; /* Define a largura máxima da imagem do produto */
    height: auto; /* Mantém a proporção da imagem */
    float: left; /* Alinha a imagem à esquerda */
    margin-right: 20px; /* Adiciona espaçamento à direita da imagem */
}

.product .product-details {
    overflow: hidden; /* Limpa o comportamento float */
}

.product h2 {
    margin-top: 0; /* Remove a margem superior do título do produto */
}

.product p {
    margin-bottom: 10px; /* Adiciona espaçamento inferior entre os parágrafos do produto */
}

.btn {
    background-color: #007bff; /* Define a cor de fundo do botão */
    color: white; /* Define a cor do texto do botão */
    padding: 10px 10px; /* Adiciona preenchimento ao botão */
    border: none; /* Remove a borda do botão */
    cursor: pointer; /* Altera o cursor ao passar o mouse sobre o botão */
    border-radius: 5px; /* Adiciona bordas arredondadas ao botão */
}