body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    position: relative;
    background-image: url(../img/background.jpg);
    background-image: cover;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
}

body::before {
    content: '';
    background-color: #e0f2f8;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.logo img {
    width: 100px;
    height: auto;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50%;
}

.header {
    padding: 20px 50px;
    position: relative;
    z-index: 10;
}

.login_body {
    padding: 60px;
    z-index: 90;
    position: relative;
    max-width: 450px;
    height: 550px;
    margin-left: 50%;
    background-color: #8cd1f9;
    border-radius: 10px;
    box-sizing: border-box;
    transform: translateX(-50%);
}

.login_body h2 {
    font-size: 32px;
    color: #fff;
    margin-top: 0;
}

.login_body input {
    height: 50px;
    width: 100%;
    color: #000000;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    padding-left: 15px;
    box-sizing: border-box;
    outline: none;
}

.login_body input:hover {
    background-color: #ebf9ff;
}

.input_box {
    margin-bottom: 25px;
}

.login_body button {
    height: 50px;
    width: 100%;
    color: #fff;
    background-color: #234d7c;
    border-radius: 3px;
    font-weight: bold;
    font-size: 16px;
    border: none;
    margin-bottom: 10px;
}

.login_body button:hover {
    background-color: #124e6a;
    cursor: pointer;
}

.support {
    display: flex;
    color: #fff;
    justify-content: space-between;
    font-size: 12px;
    margin-bottom: 5px;
}

.support input {
    width: 15px;
    height: 15px;
}

.remember {
    display: flex;
    align-items: center;
}

.remember span {
    margin-right: 5px;
    height: 25px;
}

.help a {
    text-decoration: none;
    color: #fff;
}

.help a:hover {
    text-decoration: underline;
}

.login_facebook {
    display: flex;
    align-items: center;
    width: 100%;
    color: #fff;
}

.login_facebook span {
    margin-right: 5px;
    font-size: 13px;
}

.login_facebook span a {
    text-decoration: none;
    color: #fff;
}

.sign_up {
    color: #fff;
    font-size: 16px;
}

.sign_up a {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
}

.sign_up a:hover {
    text-decoration: underline;
}

.terms {
    color: #fff;
    font-size: 13px;
}

.terms a {
    text-decoration: none;
    color: #fff;
}

.terms a:hover {
    text-decoration: underline;
}