body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

header {
    background-color: #131921;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

h1,
h2 {
    color: #fff;
}

p {
    margin-bottom: 20px;
}

ol {
    margin-bottom: 20px;
}

ol li {
    margin-bottom: 10px;
}

ul {
    margin-bottom: 20px;
}

ul li {
    margin-bottom: 10px;
}

footer {
    background-color: #131921;
    color: #fff;
    text-align: center;
    padding: 10px 10;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}