section.slider{
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
}

.slider-content{
    width: 400%;
    height: auto;
    display: flex !important;
}

.slider-content input{
    display: none;
}
    
.slide-box{
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
}

.slide-box img{
    width: 100%;
}

.nav-manual{
    position: absolute;
    width: 100%;
    margin-top: 35%;
    display: flex;
    justify-content: center;
}

.nav-manual .manual-btn{
    border: 1px solid #001a67;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}